<div>
    <div class="title">
        Out of stock products
    </div>

    <div class="content">
        <label for="behavior" class="normal">
            Behavior
        </label>
        <label id="behavior" class="radio-wrapper">
            <input
                value="together"
                ng-model="ctrl.behavior"
                name="behavior"
                type="radio"/>
            <span class="radio-button"></span>
            Include in search results together with in-stock products
        </label>
        <label class="radio-wrapper">
            <input
                value="atBottom"
                ng-model="ctrl.behavior"
                name="behavior"
                type="radio"/>
            <span class="radio-button"></span>
            Include in results and display at bottom of search results
        </label>
        <label class="radio-wrapper mb35">
            <input
                value="notInclude"
                ng-model="ctrl.behavior"
                name="behavior"
                type="radio"/>
            <span class="radio-button"></span>
            Do not include (i.e. hide "out of stock" products)
        </label>

        <label for="label" class="normal">
            Label
            <i class="text-muted">
                (this will be displayed in your search results)
            </i>
        </label>
        <input
            id="label"
            name="label"
            ng-model="ctrl.label"
            class="form-control"
            type="text"/>
    </div>
</div>
