<div>
    <div class="title">
        Out of stock products
    </div>

    <div class="content">
        <label for="behavior" class="normal">
            Behavior
        </label>
        <label id="behavior" class="radio-wrapper-block">
            <span class="radio-wrapper" ng-class="{active:ctrl.behavior=='together'}">
                <input
                    value="together"
                    ng-model="ctrl.behavior"
                    name="behavior"
                    type="radio"/>
            </span>
            Include in search results together with in-stock products
        </label>
        <label class="radio-wrapper-block">
            <span class="radio-wrapper" ng-class="{active:ctrl.behavior=='atBottom'}">
                <input
                    value="atBottom"
                    ng-model="ctrl.behavior"
                    name="behavior"
                    type="radio"/>
            </span>
            Include in results and display at bottom of search results
        </label>
        <label class="radio-wrapper-block mb35">
            <span class="radio-wrapper" ng-class="{active:ctrl.behavior=='notInclude'}">
                <input
                    value="notInclude"
                    ng-model="ctrl.behavior"
                    name="behavior"
                    type="radio"/>
            </span>
            Do not include (i.e. hide "out of stock" products)
        </label>

        <label for="label" class="normal">
            Label
            <i class="text-muted">
                (this will be displayed in your search results)
            </i>
        </label>
        <input
            id="label"
            name="label"
            ng-model="ctrl.label"
            class="form-control"
            type="text"/>
    </div>
</div>
